body {
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background-image: url("../images/concrete-texture.png");
	background-color: #dee3ea;
}
div.main-content {
	overflow-y: scroll;
}
.connect-menu img {
	display: inline;
}
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}
header {
	background-color: white;
}
.navbar-default h1.navbar-brand, .navbar-default h1.navbar-brand:hover {
	background-color: #4aaaa5;
	color: #ffffff;
	font-size: 2em;
	border-color: #ffffff;
	height: 100%;
}
h2, h3 {
	color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	border-bottom: 2px solid #dee3ea;
}
h2 {
	font-size: 2em;
}
h3 {
	font-size: 1.5em;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
	background-color: #4aaaa5;
}
a {
	color: #4aaaa5;
}
main {
	margin: 10% 0% 10% 0%;
}
section, aside {
	background-color: #ffffff;
	padding: 2% 3% 2% 3%;
}
section div.portfolio-selection img {
	width: 100%;
}
section {
	margin-bottom: 2%;
}
footer {
	text-align: center;
	position: fixed;
	bottom: 0%;
	width: 100%;
	margin-bottom: 0%;
}
footer p {
	margin-bottom: 0%;
}