body {
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background-image: url("../images/concrete-texture.png");
	background-color: #dee3ea;
}
.connect-menu img {
/*	width: 30%;
	height: 30%;*/
	display: inline;
}
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}
header {
/*	height: 10%;
	width: 100%;
	display: flex;
	justify-content: space-between;*/
	background-color: white;
/*	position: fixed;
	top: 0%;
	z-index: 5;
	border-bottom: 2px solid #dddddd;*/
}
.navbar-default h1.navbar-brand, .navbar-default h1.navbar-brand:hover {
	background-color: #4aaaa5;
	color: #ffffff;
	font-size: 2em;
	border-color: #ffffff;
}
h2, h3 {
	color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	border-bottom: 2px solid #dee3ea;
}
h2 {
	font-size: 2em;
}
h3 {
	font-size: 1.5em;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
	background-color: #4aaaa5;
}
a {
	color: #4aaaa5;
}